@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300&family=Major+Mono+Display&display=swap');

:root {
    --color-bg: #444444 ;
    --color-term-bg: #1E1E2E;
    --color-fg: #FF79c6;
    --color-grey-border: #808080;
    --color-link: #8F9191;
    --color-link-visited: #F5C2E7;
    --color-link-hover: #FF79C6 ;
    --color-title: #6df1d8;
}
  
html, body {
  background: var(--color-bg);
  color: var(--color-fg);
  font-family: 'Major Mono Display', monospace;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.wrapper {
  min-height: 100%;
  min-width: 100%
  }

.container {
  display: grid;
  position: fixed;
  height: 450px;
  width: 700px;
  margin-left: 22%;
  top: 20%;
  grid-template-columns: 30% 70%;
  border-style: solid;
  border-color: var(--color-border);
  border-width: 3px;
  border-radius: 10px;
  box-shadow: 8px 10px 25px;
  
}

.left-container {
  margin-left: 30%;
  margin-top: auto;
  margin-bottom: auto;
}

.computer {
  height: 100px;
}

.right-container {
  margin-left: auto;
  margin-right: 20%;
  margin-top: auto;
  margin-bottom: auto;
  border-style: solid;
  border-color: var(--color-fg);
  border-radius: 10px;
  background-color: var(--color-term-bg);
}

.head {
  font-family: 'Fira Code', monospace;
  display: flex;
  flex-direction: column;
  font-size: 10px;
  padding-left: 15px;
}

.date {
  color: var(--color-title);
}

.category {
  display: flex;
  flex-direction: column;
  width: 150px;
}

.bookmarks {
  display: flex;
  justify-content: center;
}

.links {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.title {
  font-size: 20px;
  font-family: 'Fira Code', monospace;
  color: var(--color-title);
}

li {
  font-size: 16px;
  list-style-type: none;
  padding: 5px
}

a:link {
  text-decoration: none;
  color: var(--color-link);
}

a:visited {
  color: var(--color-link-visited);
}

a:hover {
  color: var(--color-link-hover);
}

.blinking {
  animation: opacity 1s ease-in-out infinite;
  opacity: 1;
}

@keyframes opacity {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

